{% extends "layout/main.html" %} {% block title %} Berita {% endblock %} {%
block content %}
<div class="p-5 bg-gray-100">
  <h1 class="text-center font-bold text-2xl mb-3 bg-dark text-light">Berita</h1>

  <div class="grid grid-cols-5 gap-x-5">
    <div class="col-span-4 space-y-2 flex-shrink-0">
      {% if news|length < 1 %}

      <p class="text-lg font-semibold flex items-center justify-center h-full">
        Berita tidak ditemukan
      </p>

      {% endif %} {% for n in news %}
      <div class="bg-white shadow-md rounded-md p-3">
        <a href="/news/{{n['_id']}}">
          <p class="font-bold text-lg">{{n.title}}</p>
        </a>
        <p><span class="">{{n.writer}}</span></p>
        <p>Kategori : <span class="">{{n.category}}</span></p>
        <p class="text-gray-600">{{n.text}}</p>
        {% if n["tags"]|length >= 1 %}
        <p class="my-2">
          <span class="font-semibold">Tags : </span>
          {% for t in n["tags"] %}
          <span class="border rounded-full px-5 py-1">{{t}}</span>
          {% endfor %}
        </p>
        {% endif %}
        <a href="/news/{{n['_id']}}" class="text-blue-400 hover:text-blue-500">
          Lihat Detail
        </a>
      </div>
      {% endfor %}

      <div class="flex justify-between">
        {% if start == 0 %}
        <div></div>
        {% endif %}
        <button
          onclick="handlePreviousNewsClick()"
          class="w-52 rounded-2xl border-b-4 border-b-blue-600 bg-blue-500 py-3 font-bold text-white hover:bg-blue-400 active:translate-y-[0.125rem] active:border-b-blue-400"
          style="display: {{none if start == 0 else block}}"
        >
          Previous
        </button>
        <button
          class="w-52 rounded-2xl border-b-4 border-b-blue-600 bg-blue-500 py-3 font-bold text-white hover:bg-blue-400 active:translate-y-[0.125rem] active:border-b-blue-400"
          onclick="handleNextNewsClick()"
          href="/news?start={{start+1}}"
          style="display: {{none if not hasMore else block}}"
        >
          Next
        </button>
      </div>
    </div>
    <div class="flex flex-col col-span-1">
      <h1 class="text-xl font-semibold">Filter Kategori</h1>
      {% for c in categories %}
      <button
        class="category_item py-2 shadow-md rounded-sm bg-white my-1 hover:scale-105 duration-150"
        value="{{c.name}}"
        onclick="handleCategoryChange(this)"
      >
        {{c.name}}
      </button>
      {% endfor %} {% if categories|length >= 1 %}
      <button
        class="py-2 shadow-md rounded-sm bg-white my-1 hover:scale-105 duration-150"
        onclick="resetCategory()"
      >
        Reset Kategori
      </button>
      {% endif %} {% if news|length >= 1 %}
      <div class="mt-5">
        <h1 class="text-xl font-semibold">Paling sering dibaca</h1>
        {% for mr in mostReadedNews %}
        <p
          class="bg-white my-1 shadow-md p-2 hover:scale-105 transition-all duration-150"
        >
          <a href="/news/{{mr._id}}" class="">{{mr.title}}</a>
        </p>
        {% endfor %}
      </div>
      {% endif %} {% if tags|length >= 1 %}
      <div class="flex flex-col col-span-1">
        <h1 class="text-xl font-semibold">Tag terfavorit</h1>
        {% for t in tags %}
        <button
          class="py-2 shadow-md rounded-sm bg-white my-1 hover:scale-105 duration-150 tag_item"
          value="{{t.name}}"
          onclick="handleTagChange(this)"
        >
          {{t.name}}
        </button>
        {% endfor %} {% if tags|length >= 1 %}
        <button
          class="py-2 shadow-md rounded-sm bg-white my-1 hover:scale-105 duration-150"
          onclick="resetTag()"
        >
          Reset Tag
        </button>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
