{% extends "layout/main.html" %} {% block title %} Berita {% endblock %} {%
block content %}
<body>
  <h1>Utama</h1>

  <select name="category" onchange="handleCategoryChange(this)">
    {% for c in categories %}
    <option value="{{c.name}}">{{c.name}}</option>
    {% endfor %}
  </select>

  <a href="/login">Ke Login</a>
  <a href="/signup">Ke Daftar</a>
  <a href="/news/create">Buat Berita</a>
  <a href="/category/create">Buat Kategori</a>

  <h1>Berita</h1>

  {% for n in news %}
  <a href="/news/{{n['_id']}}">
    <h1>{{n.title}}</h1>
  </a>
  <p>Dibuat pada : {{n.created}}</p>
  <p>Penulis : {{n.writer}}</p>
  <p>Penulis : {{n.text}}</p>
  <p>Kategori : {{n.category}}</p>
  {% endfor %}

  <button
    onclick="handlePreviousNewsClick()"
    style="display: {{none if start == 0 else block}}"
  >
    Previous
  </button>
  <button
    onclick="handleNextNewsClick()"
    href="/news?start={{start+1}}"
    style="display: {{none if not hasMore else block}}"
  >
    Next
  </button>
</body>
{% endblock %}
